.Header {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 40px;
    height: 20px;
    color: #000587;
    justify-content: flex-start;

}

.Header__nav {
    column-gap: 13px;
    width: 100%;
    line-height: 5px;
    padding: 0 0 10px 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction:row;
    position: absolute;
    right: 20px;
    list-style: none;
    color: #000587;


}

 .img{
        height: 200px;
        width: 200px;
        position: relative;
        z-index: 2;    
        top: 90px;
        left: 710px;
    }

.text{
    font-size: 50px;
    text-align: left;
    position: absolute;
    top: 500px;
} 
.item-1{
        height: 200px;
        width: 930px;
        position: absolute;
        background: #000587;
        bottom: 90px;
        z-index: 1;
  }
