.Header {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 20px;

}

.Header__List {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 2px;
    justify-self: end;
    width: 100%;
    max-width: 800px;
    height: 100%;
    display: flex;
    align-items: right;
    justify-content: right;
    height: 100%;
    list-style: none;

}

  .img{
        height: 200px;
        width: 200px;
        position: relative;
        z-index: 2;    
        top: 90px;
        left: 710px;
    }

   .text{
    font-size: 40px;
    text-align: left;
   
   } 
  .item-1{
        height: 200px;
        width: 930px;
        position: absolute;
        background: #000587;
        top: 550px;
        z-index: 1;
    }
 
    


   
}
