h1 {
    text-decoration: none;
}

.header {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    padding: 0px 0px 0px auto;



}

.header-nav-list {
    display: flex;
    font-weight: bold;
    font-size=24px;
}

.float__img {
    width:
        float: right;

}

.text {
    color: rgb[0, 0, 0]
}

blue {
    background: #000587;
    width: 172px;
    height: 1041px;
    float: left;
}